{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends '::base.html.twig' %}
{% block body -%}
    <h1>Location creation</h1>
    {{ form(form) }}


        <ul class="record_actions">
    <li>
        <a href="{{ path('location') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
